.box {
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Courier New", Courier, monospace;
}

.introtext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
